/* should not be used because of js changes */

/* .bg-info{
    background-color: #FEEAE9 !important;
} */

.panda-bg-info{
    background-color: #FEEAE9 !important;
}

.categories img{
    width: 100px;
}

.panda-btn{
        background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 9px 25px;
}